# dont save cached expansions in git
games/cache/*
!games/cache/README.md
# dont save images
images/*
outcomes/*
!/wagon_game_short_K0_outcomes.txt
!/README.md
!/wagon_game_K0.png
!/wagon_game_K2.png
!/wagon_game_K3.png
!/wagon_game_K4.png
# dont save things in the random folder
random/*
